@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Types that sugar-high have:
 *
 * identifier
 * keyword
 * string
 * Class, number and null
 * property
 * entity
 * jsx literals
 * sign
 * comment
 * break
 * space
 */

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-property: #0550ae;
  --sh-entity: #249a97;
  --sh-jsxliterals: #6266d1;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
  --heading-color: black;
}

.dark {
  --sh-class: #dcdcdc;
  --sh-identifier: #9CDCFE;
  --sh-sign: #D4D4D4;
  --sh-property: #DCDCAA;
  --sh-entity: #C586C0;
  --sh-jsxliterals: #CE9178;
  --sh-string: #CE9178;
  --sh-keyword: #569CD6;
  --sh-comment: #6A9955;
  --heading-color: white;
}
